
$width: 500px;

* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
}
body {
    margin: 0;
    width: 100vw;//设置段落的高度和宽度：
    max-width: 80vw;//设置段落的最大宽度
    height: 100vh;
    overflow-y: scroll;//overflow-y 属性规定是否对内容的上/下边缘进行裁剪裁剪内容 - 提供滚动机制
    font-family: 'Inter', sans-serif !important;
    //
    background: #2bb8e2;
}

body::-webkit-scrollbar {
    width: 0;
}
@keyframes spinner { 
    from 
    { 
      transform: rotateY(0deg); 
    } 
    to { 
      transform: rotateY(-360deg); 
    } 
  } 
.loading {
    width: 100%;
    max-width: $width;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
        animation-name: spinner; 
        animation-timing-function: linear; 
        animation-iteration-count: infinite; 
        animation-duration: 2s; 
        width: 300px;
    }
}

#root {
    padding: 16px;
    width: 100%;
    height: 100%;
}

#guest {
    margin-top: 96px;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title{
    position: fixed;
}

#menu {
    background: rgb(103, 236, 98);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    z-index: 9998;//z-index 属性设置元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面
    position: fixed;
    top: 0;//为title让位
    left: 65%;
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;//menu的原始宽度
        max-width: 450px;//menu的最大宽度
        > div {
            padding: 16px;
            width: 50%;
        }
        > div:nth-child(1) {
            text-align: left;//图标靠左
        }
        > div:nth-child(2) {
            text-align: right;//账户信息靠右
        }
    }
    img {//图标大小
        width: 64px;
        cursor: pointer;
        outline: none !important;
    }
}


#contract {
    background: rgb(53, 113, 223);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    z-index: 9998;//z-index 属性设置元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面
    position: fixed;
    top: 45vh;
    left: 65%;
    //新增
    width: 100vw;//原始宽度
    max-width: 450px;//最大宽度;
    height: 332px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


//页面无该内容
#profile {
    padding: 16px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    background: white;
    z-index: 9999;
    position: fixed;
    top: 96px;
    left: 0;
    width: 100vw;
    max-width: $width;
    text-align: center;
}



#gallery {
    width: 50vw;//原始宽度 滚动条宽度
    padding-bottom: 16px;
    .filters {
        text-align: center;
        margin-bottom: 16px;
        .GalleryButton{
            top: 45vh;
            left: 65%;
        }
    }

    .item {
        border: 20px solid rgba(0, 0, 0, 0.1);//NFT边框宽度（图+文）
        padding: 16px;
        margin-bottom: 16px;
        //
        width: 100%;
        position:relative;//固定支付按钮（相对于本组件的位置）
        background: #bde3ee;
        .column {
            float: left;
            width: 33.33%;
          }
          .addpoint {
            float: left;
            width: 25%;
          }



        .line {
            margin: 16px 0 0 -16px;
            width: calc(100% + 32px);
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        }
        
        img {
            width: 60;
        }
/*
        .content{
            float: right;
            width: 40%;
            -moz-column-count:2; 
            -webkit-column-count:2; 
            column-count:2;
        }
        */


    }
}


button,input {
    border: 3px solid #0072CE;//所有button边框宽度3
    padding: 12px;
    font-family: 'Inter', sans-serif !important;
    cursor: pointer;
    outline: none !important;
}


button {
    margin: 8px;
    &:hover {
        background: #FFB259;
    }
}

input {
    margin: 8px 0;
    display: block;
    width: 100%;
}

#gbutton {
    width: 100%;
    margin-left: 100vw;
    margin-bottom:100vw;
    border: 30px solid #0072CE;//所有button边框宽度3
}